/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
/*  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;*/
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50);
}

hr {
  color: white;
  border-color: white;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
}
header {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ". hc .";
  grid-area: header;
}
.header-content {
  background-color: black;
  width: 960px;
  box-sizing: border-box;
  grid-area: hc;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "mya . beta feedback";
  font-family: nta, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}
.beta {
  grid-area: beta;
  background: #4c2c92;
  place-self: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}
.feedback{
  grid-area: feedback;
  font-size: 20px;
  display: grid;
  justify-content: start;
  white-space: pre-wrap;
  grid-template-columns: auto .;
  grid-template-rows: auto;
  grid-template-areas: 
    "feedback-text feedback-link";
}
.feedback-text {
  grid-area: feedback-text;
  place-self: center;
}
.feedback-link {
  grid-area: feedback-link;
  text-decoration: none;
  place-self: center;
  color: #4c2c92;
}

.feedback-link:hover { text-decoration: none;}
.feedback-link:visited { text-decoration: none; color:#4c2c92; }
.feedback-link:focus { text-decoration: none; color:#4c2c92; }
.feedback-link:hover, a:active { text-decoration: none; color:#4c2c92 }


.header-link { 
  text-decoration: none;
  background-color: black;
  font-size: 30px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 2px;
  grid-area: mya;
  color: white;
  border-bottom: 1px solid transparent;
  display: grid;
  justify-content: start;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "logo dcmslink";
}
.logo {
  grid-area: logo;
  width: 36px;
  height: 32px;
  margin-right: 4px;
  place-self: center;
}
.dcmslink {
  grid-area: dcmslink;
  place-self: center;
}

/* Each state */

.header-link:hover {
  text-decoration: none;
  color:white;
  border-bottom: 1px solid white;
}
.header-link:hover { text-decoration: none;}
.header-link:visited { text-decoration: none; color:white; }
.header-link:focus { text-decoration: none; color:white; }
.header-link:hover, a:active { text-decoration: none; color:white }

a { text-decoration-line: underline; color: rgb(160, 49, 85)}
a:hover { text-decoration: none; color: rgb(160, 49, 85)}
a:visited { text-decoration: none; color: rgb(160, 49, 85); }
a:focus { text-decoration: none; color: rgb(160, 49, 85); }
a:hover, a:active { text-decoration: none; color: rgb(160, 49, 85) }

.myfooter {
  grid-area: footer;
  background: rgb(222, 224, 226);
  border-top: 1px solid rgb(191, 193, 195);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 80px;
  display: grid;
  justify-content: start;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "contact contact contact contact"
    "ogl-logo-link ogl1 ogl-link ogl2";

}
.footer-format {
  color: rgb(111, 119, 123);
  background: rgb(222, 224, 226);
  place-self: center;
  font-family: OpenSans, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
}
.ogl-logo-link {
  grid-area: ogl-logo-link;
  margin-right: 4px;
}
.ogl-logo {
  grid-area: ogl-logo-link;
  height: 17px;
  width: 40px;
}

.ogl1 {
  grid-area: ogl1;
}
.ogl-link {
  grid-area: ogl-link;
}
.ogl-link:visited { text-decoration: none; color:rgb(111, 119, 123); }
.ogl-link:focus { text-decoration: none; color:rgb(111, 119, 123); }
.ogl-link:hover, .ogl-link:active { text-decoration: none; color:rgb(111, 119, 123) }
.ogl2 {
  grid-area: ogl2;
}
.contact {
  grid-area: contact;
  justify-self: start;
  margin-bottom: 10px;
}


.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "myh1 myh1 myh1 myh1"
    "preamble preamble preamble preamble"
    "vn vn vn vn"
    "ts ts ts ts"
    "seasonal seasonal seasonal seasonal";
}
.preamble {
  grid-area: preamble;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 36px; font-weight: 700; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; padding-top: 30px;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 29px; font-weight: 700; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 0rem; padding-top: 14px; color: rgb(46, 49, 145);}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }

.mysec{
  border: 1px solid rgb(221, 221, 221);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.myh1 {
  grid-area: myh1;
  border-top: 10px solid rgb(236, 9, 141);
  border-bottom: 3px solid rgb(0, 0, 0);
  margin-bottom: 18px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.vn {
  grid-area: vn;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "myh3 myh3"
    "lb map";
}
.myh3 {
  grid-area: myh3;
}
.lb {
  grid-area: lb;
  height: 500px;
}
.map {
  grid-area: map;
  height: 500px;
}
.ts {
  grid-area: ts;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "myh32 myh32 myh32 myh32"
    "dp1 dp1 ts-bts ts-bts"
    "graph1 graph1 graph1 graph1";
}
.myh32 {
  grid-area: myh32;
}
.dp1 {
  grid-area: dp1;
}
.ts-bts {
  grid-area: ts-bts;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "actual-bt ma-bt .";
}
.actual-bt {
  grid-area: actual-bt;
  margin-left: 10px;
}
.ma-bt {
  grid-area: ma-bt;
  margin-left: 10px;
}
.graph1 {
  grid-area: graph1;
}
.seasonal {
  grid-area: seasonal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "myh33 myh33 myh33 myh33"
    "dp2 dp2 dp3 dp3"
    "graph2 graph2 graph2 graph2";
}
.myh33 {
  grid-area: myh33;
}
.dp2 {
  grid-area: dp2;
}
.dp3 {
  grid-area: dp3;
  margin-left: 10px;
  width: 70%;
}
.graph2 {
  grid-area: graph2;
}



.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
/*  height: 38px;
  padding: 0 30px;*/
  color: rgb(0, 126, 255);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
/*  line-height: 38px; */
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


